Lightflows.json
[
    {
        "id": "a3af92fb671e3044",
        "type": "zigbee2mqtt-in",
        "z": "8c3199fb0304563d",
        "name": "",
        "server": "b814ce9e850848da",
        "friendly_name": "Office Switch (929002398602)",
        "device_id": "0x001788010b749b1a",
        "state": "action",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 140,
        "y": 280,
        "wires": [
            [
                "226d313ead1a8c23",
                "96d8a79950760c66"
            ]
        ]
    },
    {
        "id": "96d8a79950760c66",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "Switch Presses",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_hold",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "8e07119966033d63"
            ],
            [
                "03e1b49f260ff223",
                "f2e2cade6e84bcf3"
            ],
            [
                "7e4774911791578a"
            ],
            [
                "09ea9c29251a51d8"
            ],
            [
                "05447cfb466f4d7b"
            ],
            [
                "1fc794acf1623532"
            ],
            [
                "38b3caa20129d7c4"
            ]
        ]
    },
    {
        "id": "8e07119966033d63",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Toggle",
        "op1": "{\"state\": \"TOGGLE\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 120,
        "wires": [
            [
                "267b3c487939b817"
            ]
        ]
    },
    {
        "id": "03e1b49f260ff223",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Bright",
        "op1": "{\"brightness\": 254, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "267b3c487939b817"
            ]
        ]
    },
    {
        "id": "09ea9c29251a51d8",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim",
        "op1": "{\"brightness\": 76, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "267b3c487939b817"
            ]
        ]
    },
    {
        "id": "7e4774911791578a",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Brighten Step",
        "op1": "{\"brightness_step\": 25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 220,
        "wires": [
            [
                "267b3c487939b817"
            ]
        ]
    },
    {
        "id": "05447cfb466f4d7b",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim Step",
        "op1": "{\"brightness_step\": -25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 300,
        "wires": [
            [
                "267b3c487939b817"
            ]
        ]
    },
    {
        "id": "bc79f4b2591154b8",
        "type": "zigbee2mqtt-in",
        "z": "8c3199fb0304563d",
        "name": "",
        "server": "b814ce9e850848da",
        "friendly_name": "Kitchen Switch (929002398602)",
        "device_id": "0x001788010b597e51",
        "state": "action",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 150,
        "y": 620,
        "wires": [
            [
                "3594791fda70f1c9",
                "fd069bbb2780d90c"
            ]
        ]
    },
    {
        "id": "3594791fda70f1c9",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "Switch Presses",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_hold",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 420,
        "y": 540,
        "wires": [
            [
                "79dfd593aaee4631"
            ],
            [
                "39370c5162e525bd",
                "93fb1392ea8a3ea8"
            ],
            [
                "51cca86787919326"
            ],
            [
                "a94e4ba21928ac20"
            ],
            [
                "001b2f7da428725c"
            ],
            [
                "af31d99664289278"
            ],
            [
                "ee647d5c67a5db72"
            ]
        ]
    },
    {
        "id": "79dfd593aaee4631",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Toggle",
        "op1": "{\"state\": \"TOGGLE\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "13cc8d049f97097f"
            ]
        ]
    },
    {
        "id": "39370c5162e525bd",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Bright",
        "op1": "{\"brightness\": 254, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 500,
        "wires": [
            [
                "13cc8d049f97097f"
            ]
        ]
    },
    {
        "id": "a94e4ba21928ac20",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim",
        "op1": "{\"brightness\": 76, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 600,
        "wires": [
            [
                "13cc8d049f97097f"
            ]
        ]
    },
    {
        "id": "51cca86787919326",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Brighten Step",
        "op1": "{\"brightness_step\": 25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 560,
        "wires": [
            [
                "13cc8d049f97097f"
            ]
        ]
    },
    {
        "id": "001b2f7da428725c",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim Step",
        "op1": "{\"brightness_step\": -25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 640,
        "wires": [
            [
                "13cc8d049f97097f"
            ]
        ]
    },
    {
        "id": "13cc8d049f97097f",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "Kitchen Lights",
        "topic": "zigbee2mqtt/Kitchen Lights/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 980,
        "y": 540,
        "wires": []
    },
    {
        "id": "c16aedadee26910f",
        "type": "zigbee2mqtt-in",
        "z": "8c3199fb0304563d",
        "name": "",
        "server": "b814ce9e850848da",
        "friendly_name": "Living Room Switch (929002398602)",
        "device_id": "0x001788010b742a8c",
        "state": "action",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "f781caf3c6858a20"
            ]
        ]
    },
    {
        "id": "f781caf3c6858a20",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "Switch Presses",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_press",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "e4a618f34d32a4b1"
            ],
            [
                "a4236e1af793a4a5"
            ],
            [
                "4d961c9c96dfa8ad",
                "747e81bdc66356d0"
            ],
            [
                "ab887156195aae44"
            ],
            [
                "6b6068226a9bfd3d"
            ],
            [
                "59b55ddc80787f5c"
            ],
            [
                "982e4f9f85371806",
                "ee5f89740f9a12a2"
            ]
        ]
    },
    {
        "id": "4d961c9c96dfa8ad",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Bright",
        "op1": "{\"brightness\": 254, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 940,
        "wires": [
            [
                "3f1cd5d1baf717c4"
            ]
        ]
    },
    {
        "id": "6b6068226a9bfd3d",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim",
        "op1": "{\"brightness\": 76, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 1040,
        "wires": [
            [
                "3f1cd5d1baf717c4"
            ]
        ]
    },
    {
        "id": "ab887156195aae44",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Brighten Step",
        "op1": "{\"brightness_step\": 25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 1000,
        "wires": [
            [
                "3f1cd5d1baf717c4"
            ]
        ]
    },
    {
        "id": "59b55ddc80787f5c",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim Step",
        "op1": "{\"brightness_step\": -25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 1080,
        "wires": [
            [
                "3f1cd5d1baf717c4"
            ]
        ]
    },
    {
        "id": "3f1cd5d1baf717c4",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "Living Room Lights",
        "topic": "zigbee2mqtt/Living Room Lights/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 1230,
        "y": 980,
        "wires": []
    },
    {
        "id": "b04d20b294b8a5e3",
        "type": "zigbee2mqtt-in",
        "z": "8c3199fb0304563d",
        "name": "",
        "server": "b814ce9e850848da",
        "friendly_name": "Bathroom Switch (929002398602)",
        "device_id": "0x001788010b742d7f",
        "state": "action",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 160,
        "y": 1440,
        "wires": [
            [
                "ef48f1f12de566ac",
                "08f5f7eede9a18e8"
            ]
        ]
    },
    {
        "id": "ef48f1f12de566ac",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "Switch Presses",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_hold",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 420,
        "y": 1360,
        "wires": [
            [
                "0c6ba532b75cbbb4"
            ],
            [
                "c49dfc7d6f5cedac",
                "efc5e11d8b292689"
            ],
            [
                "788fb6db7ac544a5"
            ],
            [
                "d285c56aaf0335d1"
            ],
            [
                "875dda22d44ad2eb"
            ],
            [
                "d7366cc78dc211a4"
            ],
            [
                "4bfb5cd8aa285693"
            ]
        ]
    },
    {
        "id": "c49dfc7d6f5cedac",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Bright",
        "op1": "{\"brightness\": 254, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 1320,
        "wires": [
            [
                "72f9656e684a401b"
            ]
        ]
    },
    {
        "id": "d285c56aaf0335d1",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim",
        "op1": "{\"brightness\": 76, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 1420,
        "wires": [
            [
                "72f9656e684a401b"
            ]
        ]
    },
    {
        "id": "788fb6db7ac544a5",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Brighten Step",
        "op1": "{\"brightness_step\": 25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 1380,
        "wires": [
            [
                "72f9656e684a401b"
            ]
        ]
    },
    {
        "id": "875dda22d44ad2eb",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim Step",
        "op1": "{\"brightness_step\": -25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 1460,
        "wires": [
            [
                "72f9656e684a401b"
            ]
        ]
    },
    {
        "id": "72f9656e684a401b",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "Bathroom Lights",
        "topic": "zigbee2mqtt/Bathroom Lights/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 1220,
        "y": 1400,
        "wires": []
    },
    {
        "id": "6665ed31e1387ff5",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "Fan",
        "topic": "zigbee2mqtt/Bathroom Fan Plug/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 890,
        "y": 1500,
        "wires": []
    },
    {
        "id": "d7366cc78dc211a4",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Toggle",
        "op1": "{\"state\": \"TOGGLE\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 1500,
        "wires": [
            [
                "6665ed31e1387ff5"
            ]
        ]
    },
    {
        "id": "b5a6c379b770db13",
        "type": "zigbee2mqtt-in",
        "z": "8c3199fb0304563d",
        "name": "",
        "server": "b814ce9e850848da",
        "friendly_name": "Bedroom Switch 1 (929002398602)",
        "device_id": "0x001788010b73ea80",
        "state": "action",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 160,
        "y": 1760,
        "wires": [
            [
                "6ff1a3514e05558a"
            ]
        ]
    },
    {
        "id": "6ff1a3514e05558a",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "Switch Presses",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_press",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 420,
        "y": 1800,
        "wires": [
            [
                "969f6f28d76091af"
            ],
            [
                "856b621a6374d11e"
            ],
            [
                "6c21c9a5b89369c9",
                "27247f0d51194206"
            ],
            [
                "689ef23fdaa0ad98"
            ],
            [
                "17b6c3c6adfdb435",
                "ba5355b8d0df15a1"
            ],
            [
                "f77ab69908798566"
            ],
            [
                "f4707999af54ac9e",
                "0b512c3d3d3b3e3a"
            ]
        ]
    },
    {
        "id": "27247f0d51194206",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Bright",
        "op1": "{\"brightness\": 254, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 1700,
        "wires": [
            [
                "94248f27d6c0c380"
            ]
        ]
    },
    {
        "id": "17b6c3c6adfdb435",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim",
        "op1": "{\"brightness\": 76, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 1800,
        "wires": [
            [
                "94248f27d6c0c380"
            ]
        ]
    },
    {
        "id": "689ef23fdaa0ad98",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Brighten Step",
        "op1": "{\"brightness_step\": 25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 1760,
        "wires": [
            [
                "94248f27d6c0c380"
            ]
        ]
    },
    {
        "id": "f77ab69908798566",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim Step",
        "op1": "{\"brightness_step\": -25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 1860,
        "wires": [
            [
                "94248f27d6c0c380"
            ]
        ]
    },
    {
        "id": "05aed6ad44285d35",
        "type": "zigbee2mqtt-in",
        "z": "8c3199fb0304563d",
        "name": "",
        "server": "b814ce9e850848da",
        "friendly_name": "Bedroom Switch 2 (929002398602)",
        "device_id": "0x001788010b74544f",
        "state": "action",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 160,
        "y": 1820,
        "wires": [
            [
                "6ff1a3514e05558a"
            ]
        ]
    },
    {
        "id": "94248f27d6c0c380",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "Bedroom Lights",
        "topic": "zigbee2mqtt/Bedroom Lights/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 1120,
        "y": 1760,
        "wires": []
    },
    {
        "id": "bf9309f6f5b5068b",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "All Lights",
        "topic": "zigbee2mqtt/All Lights/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 1200,
        "y": 880,
        "wires": []
    },
    {
        "id": "a4236e1af793a4a5",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Off",
        "op1": "{\"state\": \"OFF\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 900,
        "wires": [
            [
                "bf9309f6f5b5068b",
                "2efcc571fe5e8238",
                "4ffd84529162c163",
                "02076b8595ba744c"
            ]
        ]
    },
    {
        "id": "2efcc571fe5e8238",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "Cece's Lamp",
        "topic": "zigbee2mqtt/Cece's Lamp/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 1210,
        "y": 900,
        "wires": []
    },
    {
        "id": "969f6f28d76091af",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Toggle",
        "op1": "{\"state\": \"TOGGLE\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 1620,
        "wires": [
            [
                "94248f27d6c0c380"
            ]
        ]
    },
    {
        "id": "2031f84d9f50f3a2",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "All Lights",
        "topic": "zigbee2mqtt/All Lights/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 1100,
        "y": 1660,
        "wires": []
    },
    {
        "id": "856b621a6374d11e",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Off",
        "op1": "{\"state\": \"OFF\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 1660,
        "wires": [
            [
                "2031f84d9f50f3a2",
                "43e58c2d44ad05d9",
                "e30be654097253b5",
                "b1a6f3407b44b2ca"
            ]
        ]
    },
    {
        "id": "43e58c2d44ad05d9",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "Cece's Lamp",
        "topic": "zigbee2mqtt/Cece's Lamp/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 1110,
        "y": 1680,
        "wires": []
    },
    {
        "id": "f5fc3b9c91a21085",
        "type": "zigbee2mqtt-in",
        "z": "8c3199fb0304563d",
        "name": "",
        "server": "b814ce9e850848da",
        "friendly_name": "Cece's Workspace Switch (929002398602)",
        "device_id": "0x001788010b74217c",
        "state": "action",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 170,
        "y": 2220,
        "wires": [
            [
                "7ee6a8918bee9d48"
            ]
        ]
    },
    {
        "id": "7ee6a8918bee9d48",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "Switch Presses",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_press",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 430,
        "y": 2220,
        "wires": [
            [
                "9085ec317cbfde4f"
            ],
            [
                "642506eb655b808f",
                "6950cc22d5698bed"
            ],
            [
                "4f2df69f910f3ec2"
            ],
            [],
            [],
            [
                "45e4ebb748ab88b3",
                "9741dc282fd62189"
            ],
            [
                "1dc392268a150b3c"
            ]
        ]
    },
    {
        "id": "642506eb655b808f",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Bright",
        "op1": "{\"brightness\": 254, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 2160,
        "wires": [
            [
                "abfde8abe96b6e7e"
            ]
        ]
    },
    {
        "id": "cdcc31786be29d41",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim",
        "op1": "{\"brightness\": 76, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 2260,
        "wires": [
            [
                "abfde8abe96b6e7e"
            ]
        ]
    },
    {
        "id": "4f2df69f910f3ec2",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Brighten Step",
        "op1": "{\"brightness_step\": 25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 2220,
        "wires": [
            [
                "abfde8abe96b6e7e"
            ]
        ]
    },
    {
        "id": "80aec5c652f0f168",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim Step",
        "op1": "{\"brightness_step\": -25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 2300,
        "wires": [
            [
                "abfde8abe96b6e7e"
            ]
        ]
    },
    {
        "id": "abfde8abe96b6e7e",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "Cece's Lights",
        "topic": "zigbee2mqtt/Cece's Workspace Lights/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 990,
        "y": 2240,
        "wires": []
    },
    {
        "id": "e50b918da6af98a2",
        "type": "zigbee2mqtt-in",
        "z": "8c3199fb0304563d",
        "name": "",
        "server": "b814ce9e850848da",
        "friendly_name": "TV Switch (929002398602)",
        "device_id": "0x001788010b73f41a",
        "state": "action",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 140,
        "y": 2720,
        "wires": [
            [
                "ca694b2fb7d39094",
                "e9e51b3f696ca63d",
                "e5d97372d7b87faf"
            ]
        ]
    },
    {
        "id": "ca694b2fb7d39094",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "Switch Presses",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_hold",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 430,
        "y": 2620,
        "wires": [
            [
                "143e2217da1f93d7"
            ],
            [
                "a24529caf626b873"
            ],
            [
                "2d1da16ec4c2c7eb"
            ],
            [
                "50a99005e8901e4a"
            ],
            [
                "1428522178d78eb0"
            ],
            [
                "4b0cacb243add273"
            ],
            [
                "0c8cc7ca0c1efad8"
            ]
        ]
    },
    {
        "id": "a24529caf626b873",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Bright",
        "op1": "{\"brightness\": 254, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 2600,
        "wires": [
            [
                "ecdd3a7ccaccc349"
            ]
        ]
    },
    {
        "id": "50a99005e8901e4a",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim",
        "op1": "{\"brightness\": 76, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 2680,
        "wires": [
            [
                "ecdd3a7ccaccc349"
            ]
        ]
    },
    {
        "id": "2d1da16ec4c2c7eb",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Brighten Step",
        "op1": "{\"brightness_step\": 25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 2640,
        "wires": [
            [
                "ecdd3a7ccaccc349"
            ]
        ]
    },
    {
        "id": "1428522178d78eb0",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Dim Step",
        "op1": "{\"brightness_step\": -25, \"transition\" : 0.5}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 2720,
        "wires": [
            [
                "ecdd3a7ccaccc349"
            ]
        ]
    },
    {
        "id": "ecdd3a7ccaccc349",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "TV Lights",
        "topic": "zigbee2mqtt/TV Lights/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 970,
        "y": 2660,
        "wires": []
    },
    {
        "id": "f2e2cade6e84bcf3",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Color Bright",
        "op1": "{\"color_temp\": 360, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 180,
        "wires": [
            [
                "267b3c487939b817"
            ]
        ]
    },
    {
        "id": "93fb1392ea8a3ea8",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Color Bright",
        "op1": "{\"color_temp\": 360, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 520,
        "wires": [
            [
                "13cc8d049f97097f"
            ]
        ]
    },
    {
        "id": "747e81bdc66356d0",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Color Bright",
        "op1": "{\"color_temp\": 360, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 960,
        "wires": [
            [
                "3f1cd5d1baf717c4"
            ]
        ]
    },
    {
        "id": "efc5e11d8b292689",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Color Bright",
        "op1": "{\"color_temp\": 360, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 1340,
        "wires": [
            [
                "72f9656e684a401b"
            ]
        ]
    },
    {
        "id": "6c21c9a5b89369c9",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Color Bright",
        "op1": "{\"color_temp\": 360, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 1720,
        "wires": [
            [
                "94248f27d6c0c380"
            ]
        ]
    },
    {
        "id": "6950cc22d5698bed",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Color Bright",
        "op1": "{\"color_temp\": 360, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 730,
        "y": 2180,
        "wires": [
            [
                "abfde8abe96b6e7e"
            ]
        ]
    },
    {
        "id": "ba5355b8d0df15a1",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Color Dim Bedroom",
        "op1": "{\"color_temp\": 400, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 750,
        "y": 1820,
        "wires": [
            [
                "94248f27d6c0c380"
            ]
        ]
    },
    {
        "id": "0c6ba532b75cbbb4",
        "type": "api-current-state",
        "z": "8c3199fb0304563d",
        "name": "State",
        "server": "2c76f9b4.5da3a6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.bathroom_lights",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "$entity().attributes.brightness",
                "valueType": "jsonata"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 1280,
        "wires": [
            [
                "502450d26104eb81"
            ]
        ]
    },
    {
        "id": "502450d26104eb81",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "120",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 1280,
        "wires": [
            [
                "10fa9a3b649d5c3b"
            ],
            [
                "d348aeaf2c8980b8",
                "c2c4b23940c7d3bc"
            ]
        ]
    },
    {
        "id": "10fa9a3b649d5c3b",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Off",
        "op1": "{\"state\": \"OFF\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1030,
        "y": 1240,
        "wires": [
            [
                "72f9656e684a401b"
            ]
        ]
    },
    {
        "id": "c2c4b23940c7d3bc",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Color Bright",
        "op1": "{\"color_temp\": 360, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 1300,
        "wires": [
            [
                "72f9656e684a401b"
            ]
        ]
    },
    {
        "id": "d348aeaf2c8980b8",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Bright",
        "op1": "{\"brightness\": 254, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1030,
        "y": 1280,
        "wires": [
            [
                "72f9656e684a401b"
            ]
        ]
    },
    {
        "id": "1fc794acf1623532",
        "type": "api-current-state",
        "z": "8c3199fb0304563d",
        "name": "State",
        "server": "2c76f9b4.5da3a6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.office_lights",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "$entity().attributes.color_temp",
                "valueType": "jsonata"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 340,
        "wires": [
            [
                "b56f01eae2b02069"
            ]
        ]
    },
    {
        "id": "b56f01eae2b02069",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "300",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 340,
        "wires": [
            [
                "61b842baf75003a0"
            ],
            [
                "fa03370e62b815d5"
            ]
        ]
    },
    {
        "id": "fa03370e62b815d5",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Color Bright",
        "op1": "{\"color_temp\": 360, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1070,
        "y": 360,
        "wires": [
            [
                "267b3c487939b817"
            ]
        ]
    },
    {
        "id": "61b842baf75003a0",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Color White",
        "op1": "{\"color_temp\": 210, \"transition\" : 1}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1070,
        "y": 320,
        "wires": [
            [
                "267b3c487939b817"
            ]
        ]
    },
    {
        "id": "267b3c487939b817",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "Office Lights",
        "topic": "zigbee2mqtt/Office Lights/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 1230,
        "y": 220,
        "wires": []
    },
    {
        "id": "af31d99664289278",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Switch",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.kitchen_leds"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "e4a618f34d32a4b1",
        "type": "api-current-state",
        "z": "8c3199fb0304563d",
        "name": "State",
        "server": "2c76f9b4.5da3a6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.living_room_lights",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 710,
        "y": 840,
        "wires": [
            [
                "f97c32f6b560b8b4"
            ]
        ]
    },
    {
        "id": "f97c32f6b560b8b4",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 840,
        "wires": [
            [
                "7edab2b8410178ba"
            ],
            [
                "8608bf5a5731cb73"
            ]
        ]
    },
    {
        "id": "7edab2b8410178ba",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Off",
        "op1": "{\"state\": \"OFF\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 820,
        "wires": [
            [
                "2efcc571fe5e8238",
                "3f1cd5d1baf717c4"
            ]
        ]
    },
    {
        "id": "8608bf5a5731cb73",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "On",
        "op1": "{\"state\": \"ON\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1050,
        "y": 857,
        "wires": [
            [
                "2efcc571fe5e8238",
                "3f1cd5d1baf717c4"
            ]
        ]
    },
    {
        "id": "9085ec317cbfde4f",
        "type": "api-current-state",
        "z": "8c3199fb0304563d",
        "name": "State",
        "server": "2c76f9b4.5da3a6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.cece_s_workspace_lights",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 720,
        "y": 2120,
        "wires": [
            [
                "e59e6f55af9585a8"
            ]
        ]
    },
    {
        "id": "e59e6f55af9585a8",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 900,
        "y": 2120,
        "wires": [
            [
                "80ffce0e71a90fe4"
            ],
            [
                "ace85b23143c3ba3"
            ]
        ]
    },
    {
        "id": "80ffce0e71a90fe4",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Off",
        "op1": "{\"state\": \"OFF\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 2100,
        "wires": [
            [
                "dce6b2ec5b2a7be0"
            ]
        ]
    },
    {
        "id": "ace85b23143c3ba3",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "On",
        "op1": "{\"state\": \"ON\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 2137,
        "wires": [
            [
                "dce6b2ec5b2a7be0"
            ]
        ]
    },
    {
        "id": "dce6b2ec5b2a7be0",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": " Cece's Workspace Lights",
        "topic": "zigbee2mqtt/Cece's Workspace Lights/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 1240,
        "y": 2120,
        "wires": []
    },
    {
        "id": "143e2217da1f93d7",
        "type": "api-current-state",
        "z": "8c3199fb0304563d",
        "name": "State",
        "server": "2c76f9b4.5da3a6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.living_room_lights",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "$entity().attributes.brightness",
                "valueType": "jsonata"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 720,
        "y": 2560,
        "wires": [
            [
                "8cca769c91ac1493"
            ]
        ]
    },
    {
        "id": "8cca769c91ac1493",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 900,
        "y": 2560,
        "wires": [
            [
                "80ad879c7936d07b"
            ],
            [
                "6368d80507ed1d3f"
            ]
        ]
    },
    {
        "id": "6368d80507ed1d3f",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Bright Minus Lamp",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "scene",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.z2m_living_room_bright_minus_lamp"
        ],
        "data": "{\"transition\":\"1\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1060,
        "y": 2580,
        "wires": [
            []
        ]
    },
    {
        "id": "80ad879c7936d07b",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Dim",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "scene",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.z2m_movie_night"
        ],
        "data": "{\"transition\":\"1\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1020,
        "y": 2540,
        "wires": [
            []
        ]
    },
    {
        "id": "c796b4d75b4a1ace",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Half-Half",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "scene",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.z2m_tv_half_half"
        ],
        "data": "{\"transition\":\"1\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1030,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "fe3addfc239191fb",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Bright Minus Lamp",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "scene",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "scene.z2m_living_room_bright_minus_lamp"
        ],
        "data": "{\"transition\":\"1\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1060,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "e10d37acd1e9337b",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "50",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 900,
        "y": 2780,
        "wires": [
            [
                "c796b4d75b4a1ace"
            ],
            [
                "fe3addfc239191fb"
            ]
        ]
    },
    {
        "id": "4b0cacb243add273",
        "type": "api-current-state",
        "z": "8c3199fb0304563d",
        "name": "State",
        "server": "2c76f9b4.5da3a6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.living_room_downbulb_2_tv",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "$entity().attributes.brightness",
                "valueType": "jsonata"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 720,
        "y": 2780,
        "wires": [
            [
                "e10d37acd1e9337b"
            ]
        ]
    },
    {
        "id": "ee647d5c67a5db72",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Override Off",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.kitchen_manual_light_trigger"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "38b3caa20129d7c4",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Override Off",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.office_manual_light_trigger"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4bfb5cd8aa285693",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Override Off",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.bathroom_manual_light_trigger"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "0c8cc7ca0c1efad8",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Override Off",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.plex_override"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 740,
        "y": 2840,
        "wires": [
            []
        ]
    },
    {
        "id": "ccda479cd7c29066",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Override On",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.office_manual_light_trigger"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 430,
        "y": 340,
        "wires": [
            [
                "7fbb4de6b5f31b17"
            ]
        ]
    },
    {
        "id": "226d313ead1a8c23",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "Switch Presses",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_press",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 420,
        "y": 280,
        "wires": [
            [
                "ccda479cd7c29066"
            ],
            [
                "ccda479cd7c29066"
            ],
            [
                "ccda479cd7c29066"
            ]
        ]
    },
    {
        "id": "d52b653b17486ad8",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Override On",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.kitchen_manual_light_trigger"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 430,
        "y": 680,
        "wires": [
            [
                "e4c3c855fadd2fd0"
            ]
        ]
    },
    {
        "id": "fd069bbb2780d90c",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "Switch Presses",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_press",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 420,
        "y": 620,
        "wires": [
            [
                "d52b653b17486ad8"
            ],
            [
                "d52b653b17486ad8"
            ],
            [
                "d52b653b17486ad8"
            ]
        ]
    },
    {
        "id": "ea617be3b5d40712",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Override On",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.bathroom_manual_light_trigger"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 430,
        "y": 1500,
        "wires": [
            [
                "eca0c1b3fda28790"
            ]
        ]
    },
    {
        "id": "08f5f7eede9a18e8",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "Switch Presses",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_press",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 420,
        "y": 1440,
        "wires": [
            [
                "ea617be3b5d40712"
            ],
            [
                "ea617be3b5d40712"
            ],
            [
                "ea617be3b5d40712"
            ]
        ]
    },
    {
        "id": "e4c3c855fadd2fd0",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "15",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 430,
        "y": 720,
        "wires": [
            [
                "ee647d5c67a5db72"
            ]
        ]
    },
    {
        "id": "7fbb4de6b5f31b17",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "15",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 430,
        "y": 380,
        "wires": [
            [
                "38b3caa20129d7c4"
            ]
        ]
    },
    {
        "id": "eca0c1b3fda28790",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "15",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 430,
        "y": 1540,
        "wires": [
            [
                "4bfb5cd8aa285693"
            ]
        ]
    },
    {
        "id": "34aaaf188abe7695",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Override On",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.plex_override"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 440,
        "y": 2800,
        "wires": [
            [
                "e448afee77308729"
            ]
        ]
    },
    {
        "id": "e9e51b3f696ca63d",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "Switch Presses",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on_press_release",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on_hold",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "up_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "down_press",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off_press_release",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 430,
        "y": 2720,
        "wires": [
            [
                "34aaaf188abe7695"
            ],
            [
                "34aaaf188abe7695"
            ],
            [
                "34aaaf188abe7695"
            ],
            [
                "34aaaf188abe7695"
            ],
            [
                "34aaaf188abe7695"
            ]
        ]
    },
    {
        "id": "e448afee77308729",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 430,
        "y": 2840,
        "wires": [
            [
                "0c8cc7ca0c1efad8"
            ]
        ]
    },
    {
        "id": "8070abe49460459f",
        "type": "zigbee2mqtt-in",
        "z": "8c3199fb0304563d",
        "name": "",
        "server": "b814ce9e850848da",
        "friendly_name": "Aqara Cube (MFKZQ01LM)",
        "device_id": "0x00158d0007e22579",
        "state": "action",
        "outputAtStartup": true,
        "filterChanges": false,
        "enableMultiple": false,
        "x": 150,
        "y": 2980,
        "wires": [
            [
                "69373be0861959f7"
            ]
        ]
    },
    {
        "id": "69373be0861959f7",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "Switch Presses",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "rotate_right",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rotate_left",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "flip90",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tap",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "slide",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "shake",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 430,
        "y": 2980,
        "wires": [
            [
                "0dd1d89efae56a0e"
            ],
            [
                "0761862a7a0599c2"
            ],
            [
                "d6cc7cca0ed44c02"
            ],
            [
                "d6cc7cca0ed44c02"
            ],
            [
                "5d1573f20509b3a0"
            ],
            [
                "5d1573f20509b3a0"
            ]
        ]
    },
    {
        "id": "d6cc7cca0ed44c02",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "TV Sleep",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "webostv",
        "service": "command",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.lg_webos_tv_oled65c1aub"
        ],
        "data": "{\"command\":\"com.webos.service.tvpower/power/turnOffScreen\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 2980,
        "wires": [
            []
        ]
    },
    {
        "id": "5d1573f20509b3a0",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "TV Wake",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "webostv",
        "service": "command",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.lg_webos_tv_oled65c1aub"
        ],
        "data": "{\"command\":\"com.webos.service.tvpower/power/turnOnScreen\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 710,
        "y": 3020,
        "wires": [
            []
        ]
    },
    {
        "id": "0dd1d89efae56a0e",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "AC Temp Raise",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "script",
        "service": "living_room_ac_one_up",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "0761862a7a0599c2",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "AC Temp Lower",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "script",
        "service": "living_room_ac_one_down",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 2940,
        "wires": [
            []
        ]
    },
    {
        "id": "4ffd84529162c163",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "WLED Off",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.wled_kitchen_1_master_2",
            "light.wled_kitchen_2_master"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1200,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e30be654097253b5",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "WLED Off",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.wled_kitchen_1_master_2",
            "light.wled_kitchen_2_master"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1100,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "c62d2b4873f221c9",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "Bedroom Curtains",
        "topic": "zigbee2mqtt/Bedroom Curtains/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 1310,
        "y": 1940,
        "wires": []
    },
    {
        "id": "26811b2f2c4ab64e",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 1940,
        "wires": [
            [
                "4bdc7c046c34a303"
            ],
            [
                "19cc06345d4ee4a6"
            ]
        ]
    },
    {
        "id": "4bdc7c046c34a303",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Open",
        "op1": "{\"state\": \"OPEN\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1150,
        "y": 1920,
        "wires": [
            [
                "c62d2b4873f221c9"
            ]
        ]
    },
    {
        "id": "19cc06345d4ee4a6",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Close",
        "op1": "{\"state\": \"CLOSE\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1150,
        "y": 1960,
        "wires": [
            [
                "c62d2b4873f221c9"
            ]
        ]
    },
    {
        "id": "67206035bf1b002f",
        "type": "api-current-state",
        "z": "8c3199fb0304563d",
        "name": "State",
        "server": "2c76f9b4.5da3a6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "cover.bedroom_curtains",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "$entity().attributes.current_position",
                "valueType": "jsonata"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 890,
        "y": 1940,
        "wires": [
            [
                "26811b2f2c4ab64e"
            ]
        ]
    },
    {
        "id": "f4707999af54ac9e",
        "type": "delay",
        "z": "8c3199fb0304563d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "12",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 1940,
        "wires": [
            [
                "67206035bf1b002f"
            ]
        ]
    },
    {
        "id": "0b512c3d3d3b3e3a",
        "type": "delay",
        "z": "8c3199fb0304563d",
        "name": "",
        "pauseType": "delay",
        "timeout": "18",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 2000,
        "wires": [
            [
                "6b077bf42e54c22d"
            ]
        ]
    },
    {
        "id": "6b077bf42e54c22d",
        "type": "change",
        "z": "8c3199fb0304563d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 2000,
        "wires": [
            [
                "f4707999af54ac9e"
            ]
        ]
    },
    {
        "id": "c338d819924e3386",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 2360,
        "wires": [
            [
                "dcb24e5470829b7e"
            ],
            [
                "e0257560b611417a"
            ]
        ]
    },
    {
        "id": "dcb24e5470829b7e",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Open",
        "op1": "{\"state\": \"OPEN\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1150,
        "y": 2340,
        "wires": [
            [
                "82cb74e288f64a5f"
            ]
        ]
    },
    {
        "id": "e0257560b611417a",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Close",
        "op1": "{\"state\": \"CLOSE\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1150,
        "y": 2380,
        "wires": [
            [
                "82cb74e288f64a5f"
            ]
        ]
    },
    {
        "id": "45e4ebb748ab88b3",
        "type": "delay",
        "z": "8c3199fb0304563d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "12",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 2,
        "x": 740,
        "y": 2360,
        "wires": [
            [
                "62b726b19343476a"
            ],
            []
        ]
    },
    {
        "id": "9741dc282fd62189",
        "type": "delay",
        "z": "8c3199fb0304563d",
        "name": "",
        "pauseType": "delay",
        "timeout": "18",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 2420,
        "wires": [
            [
                "cbf750be3ecafa6d"
            ]
        ]
    },
    {
        "id": "cbf750be3ecafa6d",
        "type": "change",
        "z": "8c3199fb0304563d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 2420,
        "wires": [
            [
                "45e4ebb748ab88b3"
            ]
        ]
    },
    {
        "id": "62b726b19343476a",
        "type": "api-current-state",
        "z": "8c3199fb0304563d",
        "name": "State",
        "server": "2c76f9b4.5da3a6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "cover.living_room_curtains",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "$entity().attributes.current_position",
                "valueType": "jsonata"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 890,
        "y": 2360,
        "wires": [
            [
                "c338d819924e3386"
            ]
        ]
    },
    {
        "id": "82cb74e288f64a5f",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "Living Room Curtains",
        "topic": "zigbee2mqtt/Living Room Curtains/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 1320,
        "y": 2360,
        "wires": []
    },
    {
        "id": "c2e038c786db5550",
        "type": "switch",
        "z": "8c3199fb0304563d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 1120,
        "wires": [
            [
                "dc7edeab5a665496"
            ],
            [
                "4f4228943cc3792a"
            ]
        ]
    },
    {
        "id": "dc7edeab5a665496",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Open",
        "op1": "{\"state\": \"OPEN\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1150,
        "y": 1100,
        "wires": [
            [
                "edc5c25795644f1a"
            ]
        ]
    },
    {
        "id": "4f4228943cc3792a",
        "type": "trigger",
        "z": "8c3199fb0304563d",
        "name": "Close",
        "op1": "{\"state\": \"CLOSE\"}",
        "op2": "",
        "op1type": "str",
        "op2type": "nul",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1150,
        "y": 1140,
        "wires": [
            [
                "edc5c25795644f1a"
            ]
        ]
    },
    {
        "id": "982e4f9f85371806",
        "type": "delay",
        "z": "8c3199fb0304563d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "12",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 1120,
        "wires": [
            [
                "8ccaec496d7f78d3"
            ]
        ]
    },
    {
        "id": "ee5f89740f9a12a2",
        "type": "delay",
        "z": "8c3199fb0304563d",
        "name": "",
        "pauseType": "delay",
        "timeout": "18",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 1180,
        "wires": [
            [
                "d88c9fbcea6cbdef"
            ]
        ]
    },
    {
        "id": "d88c9fbcea6cbdef",
        "type": "change",
        "z": "8c3199fb0304563d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1180,
        "wires": [
            [
                "982e4f9f85371806"
            ]
        ]
    },
    {
        "id": "8ccaec496d7f78d3",
        "type": "api-current-state",
        "z": "8c3199fb0304563d",
        "name": "State",
        "server": "2c76f9b4.5da3a6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "cover.living_room_curtains",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "$entity().attributes.current_position",
                "valueType": "jsonata"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 890,
        "y": 1120,
        "wires": [
            [
                "c2e038c786db5550"
            ]
        ]
    },
    {
        "id": "edc5c25795644f1a",
        "type": "mqtt out",
        "z": "8c3199fb0304563d",
        "name": "Living Room Curtains",
        "topic": "zigbee2mqtt/Living Room Curtains/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9418efc3d8e7bb8e",
        "x": 1320,
        "y": 1120,
        "wires": []
    },
    {
        "id": "02076b8595ba744c",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Night Mode",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.night_mode_override"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1210,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "b1a6f3407b44b2ca",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "Night Mode",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.night_mode_override"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1110,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "e5d97372d7b87faf",
        "type": "debug",
        "z": "8c3199fb0304563d",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 2520,
        "wires": []
    },
    {
        "id": "1dc392268a150b3c",
        "type": "api-call-service",
        "z": "8c3199fb0304563d",
        "name": "",
        "server": "2c76f9b4.5da3a6",
        "version": 5,
        "debugenabled": false,
        "domain": "climate",
        "service": "toggle",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.midea_ac_43980465124526"
        ],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 740,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "b814ce9e850848da",
        "type": "zigbee2mqtt-server",
        "name": "Z2MQTT",
        "host": "192.168.1.145",
        "mqtt_port": "1883",
        "mqtt_username": "mqtt",
        "mqtt_password": "o4dDVL97qhkfQL",
        "mqtt_qos": "0",
        "tls": "",
        "usetls": false,
        "base_topic": "zigbee2mqtt"
    },
    {
        "id": "9418efc3d8e7bb8e",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "192.168.1.145",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2c76f9b4.5da3a6",
        "type": "server",
        "name": "Home Assistant",
        "version": 4,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m"
    }
]
